<?xml version="1.0" encoding="UTF-8"?>

<!--
     Copyright 2014 Certifi Inc.
 
     This file is part of AuditTableGen.
 
         AuditTableGen is free software: you can redistribute it and/or modify
         it under the terms of the GNU General Public License as published by
         the Free Software Foundation, either version 3 of the License, or
         (at your option) any later version.
 
         AuditTableGen is distributed in the hope that it will be useful,
         but WITHOUT ANY WARRANTY; without even the implied warranty of
         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
         GNU General Public License for more details.
 
         You should have received a copy of the GNU General Public License
         along with AuditTableGen.  If not, see <http://www.gnu.org/licenses/>.
 -->
 
<!--
    Document   : logback-test.xml.xml
    Created on : February 4, 2010, 2:18 PM
    Author     : jputney
    Description:
        Purpose of the document follows.
-->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd-HH-mm-ss}  [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>output.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>output.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{MM-dd-HH-mm-ss}  [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>

    </appender>


    <root level="error">
        <appender-ref ref="STDOUT"/>
        <!-- <appender-ref ref="FILE"/> -->
    </root>

    <logger name="net.certifi" level="debug"/>

</configuration>

